services:
  homeassistant:
    container_name: homeassistant
    image: "ghcr.io/home-assistant/home-assistant:2025.12.3"
    volumes:
      - homeassistant-config:/config
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
    privileged: true
    network_mode: host

# volumes for mapping data,config and log
volumes:
  homeassistant-config:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: "./config"
